body{
    /*background-color: rgb(0, 159, 238);*/
    background-image: url("./885204.jpg");
}

img{
    width: 80%;
    position: relative;
    opacity: 0.75;
}

#keyboard{
    margin-block: 5%;
    margin-inline: 5%;
    background-color: rgba(255, 255, 255, 0.532);
    display: flex;
    flex-flow: nowrap column;
    padding: 2%;
    min-width: fit-content;
    box-shadow: 2px 6px rgb(0, 106, 206);
    transition: 500ms ease-in-out 25ms;
}

#keyboard:hover{
    transform: translateY(-5px);
    box-shadow: 8px 15px rgb(0, 86, 152);
    
}


#row{
    display: flex;
    flex-flow: nowrap row;
    align-items: center;
    /*justify-content: space-between;*/
}

.keys{
    user-select: none;
    background-color: rgba(255, 255, 255, 0.563);
    padding: 11px 8px;
    margin: 3px;
    height: 35px;
    color: rgb(0, 0, 0);
    border: solid white;
    border-width: 1px;
    border-radius: 10px;
    flex-grow: 1;
    text-align: center;
    flex-basis:15px;
    box-shadow: -2px -2px #333 inset;
    font-size: x-large;
    font-family:'Segoe UI';
}

.keys:hover{
    flex-grow: 1.2;
    transform: translateY(-3px);
    transition: 100ms ease-in-out;
}

.keys:active{
    transform: translateY(2px);
    text-transform:inherit;
    background-color: rgb(60, 135, 255);
    box-shadow: 3px 3px #333 inset;
    color: white;
}


#up{
    position: relative;
    bottom: 70%;
    right: 30%;
    font-weight: bold;
}

#up2{
    position: relative;
    bottom: 40%;
    right: 50%;
    font-size: smaller;
    font-weight: bold;
}


#down{
    position: relative;
    top: 45%;
    right: 25%;
}

#down2{
    position: relative;
    top: 35%;
    right: 35%;
    font-size: smaller;
}



#stretch{
    flex-grow: 1.7;
}

#stretch2{
    flex-grow: 2;
}

#stretch3{
    flex-grow: 3;
}

#stretch4{
    flex-grow: 6;
}
#stretch5{
    flex-grow: 20;
}

#arrow{
    flex-grow: 0.3;
}
